.right__sidebar {
  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 80px 32px 21px 32px;
    color: #7e7e82;

    .footer__develop {
      width: 218px;
    }

    .footer__privacy:hover {
      cursor: pointer;
    }

    .footer__info {
      width: 330px;
      text-align: right;
    }
  }
  @media (max-width: 768px) {
    .footer {
      margin: 80px 24px 25px 24px;

      .footer__info {
        max-width: 213px;
      }
    }
  }
}
