.left__sidebar {
  .menu {
    width: 308px;

    .menu__heading {
      display: flex;
      padding: 30px 0px 0px 22px;

      .menu__search {
        margin: 5px 0px 0px 118px;
      }

      .menu__search-image {
        cursor: pointer;
      }
    }

    .menu__main {
      display: flex;
      flex-direction: column;
      padding-top: 37px;
      gap: 28px;

      .menu__main__container {
        .menu__main__container-pages {
          padding-left: 24px;
          text-decoration: none;
          color: #1b1c21;
        }

        .menu__main__container-pages:hover {
          padding-left: 20px;
          border-left: 4px solid #41f6d7;
          border-radius: 2px;
          color: #7e7e82;
        }
      }
    }

    .menu__contacts {
      padding: 291px 0px 0px 19px;
      width: 196px;

      .menu__contacts__icons {
        display: flex;
        gap: 16px;
      }

      .menu__contacts__mail {
        margin-top: 17px;
      }

      .menu__contacts__phone {
        margin-top: 12px;

        .menu__contatcs__phone-text {
          font-size: 24px;
          font-family: 'TT Lakes Bold';
          letter-spacing: -0.6px;
        }
      }
    }

    .menu__language {
      display: flex;
      gap: 7px;
      padding: 41px 0px 0px 21px;

      .menu__language-href {
        font-size: 16px;
        text-decoration: none;
        color: #1b1c21;
        text-transform: uppercase;
      }

      .menu__language-href:hover {
        color: #7e7e82;
        transition: All 0.3s ease;
      }

      .menu__language__ru-href {
        color: #7e7e82;
      }
    }
  }
}
